.feedback-form {
  display: flex;
  flex-direction: column;

  max-width: 480px;
  padding: 12px;
  background-color: #191818;

  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 600;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
}
input,
textarea {
  border: #f37055 2px solid;
  border-radius: 4px;
  background-color: #191818;
}

input,
textarea,
select {
  color: white;
}

#btn_submit {
  border: #f37055 2px solid;
  border-radius: 4px;
  background-color: #191818;
  color: white;
  font-size: 20px;
}
